<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="master-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- 상품관리 Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">상품관리</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/master/productList?page=1}">상품관리</a></li>
                                <li><a class="dropdown-item" th:href="@{/master/manageCategory}">카테고리 관리</a></li>
                                <li><a class="dropdown-item" th:href="@{/master/postProduct}">상품 등록</a></li>
                            </ul>
                        </li>
        
                        <!-- 회원관리 -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/master/client?page=1}">회원관리</a>
                        </li>
        
                        <!-- 배송관리 -->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/master/order?page=1}">배송관리</a>
                        </li>
        
                        <!-- 문의/리뷰목록 Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">문의/리뷰목록</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/master/question?page=1}">문의 목록</a></li>
                                <li><a class="dropdown-item" th:href="@{/master/reviewList?page=1}">리뷰 목록</a></li>
                                <li><a class="dropdown-item" th:href="@{/master/reviewReport?page=1&reportTitle=}">리뷰 신고 목록</a></li>
                            </ul>
                        </li>
        
                        <!-- 메일관리 Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">메일관리</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/master/mail/mailSendList?page=1}">메일 발송 목록</a></li>
                                <li><a class="dropdown-item" th:href="@{/master/mail/sendEmail}">메일 발송</a></li>
                            </ul>
                        </li>
        
                        <!-- 쿠폰 Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">쿠폰</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/master/couponMake}">쿠폰 생성</a></li>
                                <li><a class="dropdown-item" th:href="@{/master/couponList?page=1}">생성된 쿠폰 리스트</a></li>
                            </ul>
                        </li>
                        <!-- 통계 Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">통계</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/master/statisticsPage}">통계</a></li>
                            </ul>
                        </li>
                    </ul>
        
                    <!-- Admin Username Display -->
                    <span class="navbar-text" th:text="${session.username}">
                        Admin01
                    </span>
                </div>
            </div>
        </nav>
    </div>

</html>