<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>아이디 찾기 페이지</title>
<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이만큼 설정하여 수직 중앙 정렬 */
    margin: 0;
}
.ModifyForm {
    margin: auto;
    padding: 20px;
    border:2px solid #adabab;
    border-radius: 10px;
    margin-top: 40px;
}
.input_field{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    border:1px solid #adabab;
    margin-bottom: 10px;
}
</style>
</head>
<body>
    <div class="ModifyForm" align="center" >
        <h1>아이디 찾기</h1>
        <div class="InputForm" style="margin-top: 40px;"></div>
        <a style="margin-left: -280px; font-size:12px;">이름</a><br>
        <input type="text" class="input_field" id="email" name="email" placeholder=""><br>
        <a style="margin-left: -260px; font-size:12px;">전화번호</a><br>
        <input type="text" class="input_field" id="email" name="email" placeholder=""><br>
        
        <input type="button" id="btn_login" class="signup" value="아이디 찾기" onclick="" style="width: 300px; height: 40px; margin-top: 20px; background-color: black; color: white; border-radius: 5px; border: 1px solid black;">
            </div>
        </div>
    </div>
</body>
</html>