<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원가입페이지</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 높이만큼 설정하여 수직 중앙 정렬 */
    margin: 0;
}
.ModifyForm {
    margin: auto;
    padding: 20px;
    border:2px solid #adabab;
    border-radius: 10px;
    margin-top: 40px;
}
.input_field{
    width: 300px;
    height: 25px;
    border-radius: 6px;
    border:1px solid #adabab;
}
</style>
</head>
<body>
    <div class="RegisterForm" align="center">
        <h1>회원가입</h1>
        <form id="RegisteryForm" name="RegisteryForm" method="POST" style="margin-top: 40px;">
            <div class="form_list">
                <div class="form-floating form_item mb-3" id="divEmail">
                    <input type="text" class="form-control input_field" id="email" name="email" placeholder="이메일">
                    <label for="floatingInput">이메일</label>
                    <input type="button" value="인증" onclick="sendEmail()">
                </div>
                <div class="error_text item_style" id="emailMsg" style="display: none"></div>
                <div class="form-floating form_item mb-3" id="divAuthNum" style="display: none">
                    <input type="text" class="form-control input_field" id="authNum" name="authNum" placeholder="인증번호">
                    <label for="floatingInput">인증번호</label>
                    <input type="button" value="확인" onclick="checkAuth()">
                </div>
                <div class="form-floating form_item mb-3" id="divPassword">
                    <input type="text" class="form-control input_field" id="password" name="password" placeholder="비밀번호">
                    <label for="floatingInput">비밀번호</label>
                </div>
                <div class="form-floating form_item mb-3" id="divPassword1">
                    <input type="text" class="form-control input_field" id="password1" name="password1" placeholder="비밀번호 확인">
                    <label for="floatingInput">비밀번호 확인</label>
                </div>
                <div class="form-floating form_item mb-3" id="divUsername">
                    <input type="text" class="form-control input_field" id="username" name="username" placeholder="이름">
                    <label for="floatingInput">이름</label>
                </div>
                <div class="form-floating form_item mb-3" id="divBirthDate">
                    <input type="text" class="form-control input_field" id="birthDate" name="birthDate" placeholder="생년월일 8자리">
                    <label for="floatingInput">생년월일 8자리</label>
                </div>
                <div class="form_item mb-3">
                    <div class="row" style="width: 100%">
                        <input type="radio" class="btn-check" name="identityGender" id="identityGender1" value="M" autocomplete="off">
                        <label class="btn btn-outline-dark col" for="identityGender1">남자</label>
                        <input type="radio" class="btn-check" name="identityGender" id="identityGender2" value="F" autocomplete="off">
                        <label class="btn btn-outline-dark col" for="identityGender2">여자</label>
                    </div>
                </div>
                <div class="form-floating form_item mb-3" id="divTelno">
                    <input type="text" class="form-control input_field" id="telno" name="telno" placeholder="휴대전화번호">
                    <label for="floatingInput">휴대전화번호</label>
                </div>
            </div>
            <div class="error_text item_style" id="pswd1Msg" style="display: none"></div>
            <br>
            <input type="button" id="btn_register" class="btn_register" value="회원가입" onclick="" style="width: 300px; height: 40px; margin-top: 20px; background-color: black; color: white; border-radius: 5px; border: 1px solid black;">
        </form>
    </div>
<script>
window.onload = () => {
    btn_register.addEventListener('click', async () => {
        if(email.value == '') {
			alert("이메일을 입력하세요.");
			email.focus();
			return false;
		}
		if(username.value == '') {
			alert("이름을 입력하세요.");
			username.focus();
			return false;
		}
		
		const Pass = password.value;
		const Pass1 = password1.value;
		if(Pass == '') {
			alert("암호를 입력하세요");
			password.focus();
			return false;
		}
		if(Pass1 == '') {
			alert("암호를 입력하세요");
			password1.focus();
			return false;
		}
		if(Pass != Pass1) {
			alert("입력된 암호를 확인하세요.");
			password1.focus();
			return false;
		}
        if(telno.value == '') {
			alert("전화번호를 입력하세요");
			telno.focus();
			return false;
		}
        const gender = document.querySelectorAll('input[name=gender]:checked');
        if(gender.lenth == 0) {
			alert("성별을 선택하세요");
			return false;
		}

        //자바스크립트의 정규식(Regular Expression)을 이용해서 암호 규칙 확인
		//암호 작성 규칙 --> 8-20자리 내의 영문,숫자,특수문자를 조합		
		let num = Pass.search(/[0-9]/g); //0-9까지의 숫자가 들어 있는지 검색.검색해서 값이 없으면 -1을 리턴 
		let eng = Pass.search(/[a-z]/ig); // i : 알파벳 대소문자 구분 없이 검색
		let spe = Pass.search(/[`~!@#$%^&*|\\\'\";:\/?]/ig); //특수문자가 포함되어 있는지 검색
		if(Pass.length < 8 || Pass.length > 20) {
			alert("암호는 8자리 ~ 20자 이내로 입력해 주세요");
			return false;
		} else if(Pass.search(/\s/) != -1) {
			alert("암호는 공백 없이 입력해 주세요.");
			return false;
		} else if(num <0 || eng < 0 || spe < 0) {
			alert("암호는 영문,숫자,특수문자를 혼합하여 입력해 주세요.");
			return false;
		}

        const beforeTelno = telno.value;
		const afterTelno = beforeTelno.replace(/\-/ig,"").replace(/\ /ig,"").trim();
		telno.value = afterTelno;

        const formData = new FormData(RegistryForm);
		
		await fetch('/member/signup', {
			method: 'POST',
			body: formData
		}).then((response)=> response.json())
			.then((data)=> {
				if(data.message === 'good'){
					alert(decodeURIComponent(data.username) + '님, 회원 가입을 축하 드립니다.');
					document.location.href='/board/list?page=1';
				} else {
					alert("서버 장애로 회원 가입에 실패했습니다.");
				}
		}).catch((error)=> {
			console.lor("error = " + error);
		});
    });
}

const sendEmail = async () => {
    const email = document.querySelector("#email");

    await fetch("/member/sendEmail",{
        method: "POST",
        body: email.value
    }).then((response) => response.text())
    .then((data) => {
        const emailMsg = document.querySelector("#emailMsg");
        if (data == 0) {
            emailMsg.innerHTML = "인증번호를 전송했습니다.";
        } else if (data == 1) {
            emailMsg.innerHTML = "이미 사용중인 아이디입니다.";
            email.focus();
        } else {
            alert("서버 오류로 인증번호 전송을 실패했습니다.");
        }
    }).catch((error) => {
        console.error();
        console.log("error: " + error);
    });
}

const checkAuth = async() => {
    const email = document.querySelector("#email");
    const authNum = document.querySelector("#authNum")
    const authData = {
        email: email,
        authNum: authNum
    }

    await fetch("/member/checkAuth",{
        method: "POST",
        body: JSON.stringify(authData)
    }).then((response) => response.text())
    .then((data) => {
        if (data == 0) {
            alert("인증되었습니다.");
        } else if (data == 1) {
            alert("인증번호가 다릅니다.");
        } else {
            alert("서버오류로 실패했습니다.");
        }
    }).catch((error) => {
        console.error();
        console.log("error: " + error);
    });
}
</script>
</body>
</html>