<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰정보페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../../static/css/master.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
    <style>
      .category-tag {
          display: inline-block;
          background-color: #e9ecef;
          padding: 0.25rem 0.5rem;
          margin: 0.25rem;
          border-radius: 0.25rem;
      }
      .category-tag .close {
          margin-left: 0.5rem;
          cursor: pointer;
      }
  </style>
</head>

<body>
    <!-- 네비게이션 바 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">상품관리</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../master/productManage.html">상품관리</a></li>
                          <li><a class="dropdown-item" href="../master/categoryManage.html">카테고리 관리</a></li>
                          <li><a class="dropdown-item" href="../master/productUpload.html">상품 등록</a></li>
                        </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="../master/userManage.html">회원관리</a></li>
                  <li class="nav-item"><a class="nav-link" href="../master/deliveryManage.html">배송관리</a></li>
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">문의/리뷰목록</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../master/qnaList.html">문의 목록</a></li>
                          <li><a class="dropdown-item" href="../master/reviewList.html">리뷰 목록</a></li>
                        </ul>
                  </li>
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">메일관리</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="../master/mailLog.html">메일 발송 목록</a></li>
                          <li><a class="dropdown-item" href="../master/mailSend.html">메일 발송</a></li>
                        </ul>
                  </li>
                  <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">쿠폰</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="../master/couponMake.html">쿠폰 생성</a></li>
                      <li><a class="dropdown-item" href="../master/couponList.html">생성된 쿠폰 리스트</a></li>
                    </ul>
                  </li>
              </ul>
              <span class="navbar-text">Admin01</span>
          </div>
      </div>
    </nav>

  <div class="container mt-3">
    <div class="d-flex justify-content-between">
      <div class="p-2"><a href="" class="headtext">이전으로</a></div>
      <div class="p-2"><a href="" class="headtext">쿠폰명</a></div>
      <div class="p-2"></div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">

        <!-- 쿠폰 적용범위-->
        <!-- 1.전체적용이나 카테고리 선택하여 설정 -->
        <!-- 카테고리는 메인>중간>세부카테고리 구조 -->
        <div class="mb-3">
            <label for="" class="form-label" style="display: inline-block;">쿠폰 적용 범위</label>
            <div class="input-group mb-3" >
              <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">카테고리1</a></li>
                  <li><a class="dropdown-item" href="#">카테고리2</a></li>
                  <li><a class="dropdown-item" href="#">카테고리3</a></li>
                  <li class="dropend">
                    <a class="dropdown-toggle dropdown-item" href="#"  data-bs-toggle="dropdown" aria-expanded="false">카테고리4</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">중간카테고리</a></li>
                      <li><a class="dropdown-item" href="#">중간카테고리</a></li>
                      <li>
                        <a class="dropend" href="#">중간카테고리</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">세부카테고리</a></li>
                          <li><a class="dropdown-item" href="#">세부카테고리</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="모든상품">
            </div>
        </div>

        <!-- 2.상품을 검색하여 쿠폰 적용범위에 추가 -->
        <div class="mb-3">
          <label for="productSearch" class="form-label">상품 검색</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="" aria-label="productSearch" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
          </div>
        </div>




        <!-- 선택된 카테고리 -->
        <div class="mb-3">
          <label for="Category" class="form-label">카테고리</label>
          <div id="categorytag" class="border p-2 rounded">
              <!-- 예시 태그 -->
              <span class="category-tag">Laptop<span class="close">&times;</span></span>
          </div>
        </div>

        <!-- 선택된 중간카테고리 -->
        <div class="mb-3">
          <label for="midCategory" class="form-label">중간 카테고리</label>
          <div id="categorytag" class="border p-2 rounded">
              <!-- 예시 태그 -->
              <span class="category-tag">AI Laptop<span class="close">&times;</span></span>
          </div>
        </div>

        <!-- 선택된 세부카테고리 -->
        <div class="mb-3">
          <label for="midCategory" class="form-label">세부 카테고리</label>
          <div id="categorytag" class="border p-2 rounded">
              <!-- 예시 태그 -->
              <span class="category-tag">Dell<span class="close">&times;</span></span>
          </div>
        </div>

        <!-- 선택된 상품 -->
        <div class="mb-3">
          <label for="selectedProduct" class="form-label">선택된 상품</label>
          <div id="producttag" class="border p-2 rounded">
            <!-- 예시 태그 -->
            <span class="category-tag">Dell xps13<span class="close">&times;</span></span>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-md-12 mb-4">

        <!-- 사용 혜택 -->
        <div class="mb-3 row">
          <label for="" class="form-label">사용 혜택</label>
          <div class="col-2 w-auto">
            <select class="form-select " aria-label="혜택 옵션 선택">
              <option selected>옵션</option>
              <option value="1">금액 할인</option>
              <option value="2">비율 할인</option>
            </select>
          </div>
          <div class="col-6 w-50"><input type="text" class="form-control"></div> 
          <div class="col-3 w-auto">
            <select class="form-select" aria-label="옵션 내용 설정">
              <option selected>화폐설정</option>
              <option value="1">KRW</option>
              <option value="2">USD</option>
              <option value="3">CNY</option>
              <option value="4">%</option>
            </select>
          </div>
        </div>

        <!-- 사용 기간 -->
        <div class="mb-4 row">
          <label for="" class="form-label">사용 기간</label>
          <div class="col-5"><input type="datetime-local" id="coupon_start_date" class="form-control"></div>
          ~
          <div class="col-5"><input type="datetime-local" id="coupon_end_date" class="form-control"></div>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">사용 옵션</label>&emsp;
          <div class="form-check" style="display: inline-block;">
            <input class="form-check-input" type="checkbox" value="" id="isDupl">
            <label class="form-check-label" for="flexCheckDefault">
              추가 할인 가능
            </label>
          </div>
        </div>


        <!-- 권한 설정 -->
        <div class="">
          <label for="" class="form-label">권한 설정</label> &emsp;
          <select id="coupon_role" class="form-select mb-3 w-auto" style="display: inline-block;">
            <option>플래티넘</option>
            <option>골드</option>
            <option>실버</option>
            <option>브론즈</option>
          </select><br><br><br><br>

          <label for="" class="form-label">쿠폰명</label> &emsp;
          <input type="text" id="couponName" placeholder='쿠폰명 입력' class='form-control w-50' style="display: inline-block;">
        </div>

      </div> 
    </div><hr>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type='submit' class='btn btn-primary'>수정</button>
      <button type='delete' class='btn btn-danger'>삭제</button>
    </div>

  </div>
</body>
</html>