<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의목록페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
</head>

<body>
    <!-- 네비게이션 바 -->
    <div th:insert="~{layout/masterNav :: master-nav}"></div>
        
<div class="container mt-5">     
    <h2 class="mt-4">문의목록</h2>

    <!-- 문의 타입 선택 -->
    <div class="d-flex justify-content-end mb-2">
        <select class="form-select w-auto" id="queType" name="queType" aria-label="문의 타입 선택">
            <option value="">문의 타입 선택</option>
            <option value="답변전">답변전</option>
            <option value="답변중">답변중</option>
            <option value="답변완료">답변완료</option>
        </select>
    </div>

    <!-- 리뷰 목록 테이블 -->
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col"><input class="form-check-input" type="checkbox" id="checkAll"></th>
            <th scope="col">문의타입</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th>답변버튼</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <th:block  th:if="${#strings.equals(listIsEmpty,'N')}">
                <tr th:each="entry : ${list}">
                    <td><input class="form-check-input question-checkbox" type="checkbox" value=""></td>
                    <td th:text="${entry['question'].queType}">답변전</td>
                    <td th:text="${entry['question'].queTitle}">문의제목입니다</td>
                    <td><span th:text="${entry['question'].queContent}">문의 내용 입니다.</span></td>
                    <td th:text="${entry['question'].email.email}">qscd123&nbsp;</td>
                    <td th:text="${#temporals.format(entry['question'].queDate, 'yyyy-MM-dd')}">2024.10.29</td>
                    <td><a class="btn btn-outline-primary" th:href="@{/master/question/{queSeqno}(queSeqno=${entry['question'].queSeqno})}">답변</a></td>
                </tr>
            </th:block>
            <!-- 목록이 비어 있을 경우 -->
            <th:block th:if="${#strings.equals(listIsEmpty,'Y')}">
                <td colspan="8" class="text-center">회원 정보가 없습니다.</td>
            </th:block>
        </tbody>
        </table>
    </div>

        <!-- 삭제버튼 -->
        <button type="button" class="btn btn-danger" id="deleteButton">삭제</button>


        <!-- 페이지네이션 -->
        <div class="mt-4" th:text="${pageList}"></div>


    </div>

    <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var typeSelect = document.getElementById('queType');
        var checkAll = document.getElementById('checkAll');
        var deleteButton = document.getElementById('deleteButton');

        typeSelect.addEventListener('change', function() {
            const selectedType = this.value;
            const rows = document.querySelectorAll('table tbody tr');
            
            rows.forEach(row => {
            const type = row.querySelector('td:nth-child(2)').textContent.trim(); // 2번째 열
            if (selectedType === "" || type === selectedType) {
                row.style.display = ''; // 등급이 일치하면 보이기
            } else {
                row.style.display = 'none'; // 등급이 일치하지 않으면 숨기기
            }
            });
        });
            
        checkAll.addEventListener('change', function() {
                var checkboxes = document.querySelectorAll('.question-checkbox');
                checkboxes.forEach(function(checkbox) {
                    checkbox.checked = checkAll.checked;
                });
        });

        deleteButton.addEventListener('click', function() {
            var selectedReviews = Array.from(document.querySelectorAll('.user-checkbox:checked')).map(cb => cb.value);
            if (selectedReviews.length > 0) {
                if (confirm('선택한 문의를 삭제하시겠습니까?')) {
                    deleteReviews(selectedReviews);
                }
            } else {
                alert('삭제할 문의를 선택해주세요.');
            }
        });


    });

    function deleteReviews(questionIds) {
        fetch('/master/questions/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ ids: questionIds })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('문의 삭제 성공:', data);
            alert('문의 삭제에 성공했습니다.');
            window.location.reload();
        })
        .catch((error) => {
            console.error('리뷰 삭제 실패:', error);
            alert('문의 삭제에 실패했습니다. 다시 시도해 주세요.');
        });
    }
    </script>
</body>
</html>