a{text-decoration: none; color: #000000;}
.headtext{font-size: 24px; font-weight:bold; font-family: "Noto Sans KR", sans-serif;}
.dropdown-item {
    color: #000000;
    }
.dropdown .dropdown-menu {
    display: none;
    background: #ffffff;
}
.dropdown:hover>.dropdown-menu, 
.dropend:hover>.dropdown-menu {
    display: block;
    margin-left: .1em;
}
@media screen and (min-width:769px) {
        .dropend:hover>.dropdown-menu {
            position: absolute;
            top: 0;
            left: 100%;
        }

}
ol, ul{padding: 0;}
li{
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}