a{text-decoration: none; color: #000000;}
.dropdown-item {
    color: #000000;
    }
.dropdown .dropdown-menu {
    display: none;
    background: #ffffff;
}
.dropdown:hover>.dropdown-menu, 
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: .1em;
    margin-left: .1em;
}
@media screen and (min-width:769px) {
        .dropend:hover>.dropdown-menu {
            position: absolute;
            top: 0;
            left: 100%;
        }

}
ol, ul{padding: 0;}
li{
    list-style: none;
}