<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>mobile</title>
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/shopHeader.css">
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/main_category.css">
</head>
<body>
    <div id="ShopHeader"></div>
    <div id="content" class="content" style="width: 80%; margin: 0 auto;">
        <br><br><br>
        <section class="shopping-suggestions" style="width: 80%; margin: 0 auto;">
            <h2 style="text-align: center;">모바일</h2>
            <div class="product-list">
                <div class="product">
                    <img src="https://via.placeholder.com/150" alt="Product 1">
                    <div class="product-info">
                        <h3>애플</h3>
                    </div>
                </div>
                <div class="product">
                    <img src="https://via.placeholder.com/150" alt="Product 2">
                    <div class="product-info">
                        <h3>갤럭시</h3>
                    </div>
                </div>
                <div class="product">
                    <img src="https://via.placeholder.com/150" alt="Product 3">
                    <div class="product-info">
                        <h3>LG</h3>
                    </div>
                </div>
                <div class="product">
                    <img src="https://via.placeholder.com/150" alt="Product 4">
                    <div class="product-info">
                        <h3>화웨이</h3>
                    </div>
                </div>
                <div class="product">
                    <img src="https://via.placeholder.com/150" alt="Product 5">
                    <div class="product-info">
                        <h3>샤오미</h3>
                        <p class="price">₩30,000</p>
                    </div>
                </div>
                <!-- 추가 상품을 이어서 배치 -->
            </div>
        </section>
    </div>
    <script src="/src/main/resources/static/js/menuToggle_ShopHeader.js"></script>
</body>
</html>