<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>상품 상세 페이지</title>
<link rel="stylesheet" type="text/css" href="/css/board.css">
<link rel="stylesheet" type="text/css" href="/css/shopHeader.css">
<style>
.button-container {
            display: flex;
            justify-content: flex-end; /* 오른쪽 정렬 */
            margin-top: 20px; /* 위쪽 여백 */
            margin-right: 20%; /* 오른쪽 여백 */
        }

</style>

</head>
<body>
    <th:block th:replace="~{layout/shopHeader::header}"></th:block>
     <div class="flex-container" style="display: flex; align-items: center;">
        <div class="rectangle2" style="width: 500px; height: 300px;">상품 이미지</div>
        <div style="margin-left: 20px;">
            <div style="font-size: 20px; border: 1px solid #e3e3e3; border-top: none; border-left: none; border-right: none; padding: 5px 0; width: 600px">상품 이름</div>
            <div class="flex-container" style="display: flex; align-items: center;">
            <div style="font-size: 18px; color: #888;">상품 가격</div>
            <div style="width: 40px; height: 30px; margin-top: 5px; border: 1px solid #e3e3e3; display: flex; align-items: center; justify-content: center; margin-left: 10px;">
                수량
            </div>
            <input type='button' onclick='count("plus")' value='+'/>
					<span id="quantity">1</span>
				<input type='button' onclick='count("minus")' value='-'/><br><br>
        </div>   
        <select class="form-select" aria-label="Default select example" style="width:200px; margin-bottom: 10px;">
            <option selected>색상</option>
            <option value="1">화이트</option>
            <option value="2">그라파이트</option>
            <option value="3">블랙</option>
          </select>
          <select class="form-select" aria-label="Default select example" style="width:200px; margin-bottom: 10px;">
            <option selected>용량</option>
            <option value="1">128GB</option>
            <option value="2">256GB</option>
            <option value="3">512GB</option>
          </select>
          <a style="font-size: 18px; color: #888;">추가 상품</a>
          <select class="form-select" aria-label="Default select example" style="width:200px; margin-bottom: 10px;">
            <option selected>그립톡</option>
            <option value="1">그립톡(레드)</option>
            <option value="2">그립톡(블랙)</option>
            <option value="3">그립톡(옐로우)</option>
          </select>
          <select class="form-select" aria-label="Default select example" style="width:200px; margin-bottom: 10px;">
            <option selected>케이스</option>
            <option value="1">케이스(그린)</option>
            <option value="2">케이스(블랙)</option>
            <option value="3">케이스(체크)</option>
          </select>
            <input type="button" id="btn_save" value="구매하기" onclick="window.location.href='/src/main/resources/templates/shop/pay.html'" style="margin-left:50px;">
            <input type="button" id="btn_cancel" value="장바구니 담기" onclick="" style="margin-left:20px;">
            <input type="button" id="btn_cancel" value="관심상품" onclick="" style="margin-left:20px;">
    </div>
</div>
               <div class="flex-container">          
                <div class="rectangle2" style="width: 100px;">가격 변동</div>
                <div class="field" style="width:800px;height:40px;font-size: 16px;
                                         margin-top: 10px; margin-bottom: 100px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                                          border-top: none; border-left: none; border-right: none;"></div>
                </div>
                <div class="flex-container">          
                    <div class="rectangle2" style="width: 100px;">REVIEW</div>
                    <div class="field" style="width:800px;height:40px;font-size: 16px;
                                             margin-top: 10px; margin-bottom: 100px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                                              border-top: none; border-left: none; border-right: none;"></div>
                    </div>
                    <div class="flex-container">          
                        <div class="rectangle2" style="width: 100px;">Q&A</div>
                        <div class="field" style="width:800px;height:40px;font-size: 16px;
                                                 margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                                                  border-top: none; border-left: none; border-right: none;"></div>
                        </div>
                        <input type="button" id="btn_cancel" value="문의하기" onclick="window.location.href='/src/main/resources/templates/mypage/question.html'" style="margin-left:50px;">
                        <div style="display: flex; margin-left: 50px; margin-top: 10px;">
                            <div class="field" style="width: 200px; height: 50px; font-size: 16px; border-bottom: 1px solid #e3e3e3; background-color: transparent; border-top: 1px solid #e3e3e3; border-left: none; border-right: none; display: flex; align-items: center; justify-content: left;">
                                답변상태
                            </div>
                            <div class="field" style="width: 500px; height: 50px; font-size: 16px; border-bottom: 1px solid #e3e3e3; background-color: transparent; border-top: 1px solid #e3e3e3; border-left: none; border-right: none; display: flex; align-items: center; justify-content: center;">
                                제목
                            </div>
                            <div class="field" style="width: 100px; height: 50px; font-size: 16px; border-bottom: 1px solid #e3e3e3; background-color: transparent; border-top: 1px solid #e3e3e3; border-left: none; border-right: none; display: flex; align-items: center; justify-content: right;">
                                작성자
                            </div>
                            <div class="field" style="width: 100px; height: 50px; font-size: 16px; border-bottom: 1px solid #e3e3e3; background-color: transparent; border-top: 1px solid #e3e3e3; border-left: none; border-right: none; display: flex; align-items: center; justify-content: right;">
                                작성일
                            </div>
                        </div>
                        <div class="field" style="width:910px;height:40px;font-size: 16px;
                                                 margin-top: 10px; margin-bottom: 10px; margin-left: 50px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                                                  border-top: none; border-left: none; border-right: none;"></div>
                        <div class="field" style="width:910px;height:40px;font-size: 16px;
                        margin-top: 10px; margin-bottom: 10px; margin-left: 50px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                         border-top: none; border-left: none; border-right: none;"></div>
                        <div class="field" style="width:910px;height:40px;font-size: 16px;
                        margin-top: 10px; margin-bottom: 10px; margin-left: 50px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                         border-top: none; border-left: none; border-right: none;"></div>
                         <div class="flex-container">          
                            <div class="rectangle2" style="width: 150px;">반품/교환 정보</div>
                            <div class="field" style="width:800px;height:40px;font-size: 16px;
                                                     margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #e3e3e3; background-color: transparent;
                                                      border-top: none; border-left: none; border-right: none;"></div>
                            </div>
                         <img src="../../static/images/판매정보.jpg" style="margin-left: 45px;">
    
<!-- 알림 모달 -->
<div class="notification-modal" id="notificationModal">
    <div class="notification-content">
        <div id="iframeContainer">
        <iframe id="myIframe" 
        src="/src/main/resources/templates/mypage/notice.html" 
        frameborder="0">
        </iframe>
    </div>  
    </div>
</div>
<script src="../js/menuToggle_ShopHeader.js"></script>
</body>
</html>